{% trans_default_domain 'FOSUserBundle' %}

<div class="container well">
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    <div class="groupequipformulaire">
        <div class="row">
            <div class="form-group ">
                {{ form_label(form, "Nom d'utilisateur", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                <div class="col-sm-4">
                    {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': "Nom d'utilisateur"}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                {{ form_label(form, "Email", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                <div class="col-sm-4">
                    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': "Email"}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                {{ form_label(form, "Mot de passe", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                <div class="col-sm-4">
                    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                {{ form_label(form, "Répéter le mot de passe", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                <div class="col-sm-4">
                    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-4">
            <div class="groupequipformulaire boutonEdit ">
                <input type="submit" value="{{ 'registration.submit'|trans }}" />
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
