{% extends 'base.html.twig' %}

{% block body %}
    <h1>Facilitateur</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ facilitateur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ facilitateur.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ facilitateur.adresse }}</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{ facilitateur.contact }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ facilitateur.description }}</td>
            </tr>
            <tr>
                <th>Apport</th>
                <td>{{ facilitateur.apport }}</td>
            </tr>
            <tr>
                <th>Rse</th>
                <td>{{ facilitateur.rse }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('facilitateur_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('facilitateur_edit', { 'id': facilitateur.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
